{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div style="width: 35%; margin: auto;">
    <form method="post" action="" novalidate>
        {% csrf_token %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p>{{error}}</p>
            {% endfor %}
        {% endif %}
        
        {% for frm in form %}
        <div>
            {{frm.label_tag}}
            <!-- {{form | crispy}} -->
            {{frm}}
            {{frm.errors | striptags}}
        </div>
        {% endfor %}
        <br>
        <button class="btn btn-warning">{{type}}</button>
    </form>
</div>
{% endblock content %}