/* *{
    background-color: #F8F9FA;
} */

.box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wl{
    margin-left: 100px;
    color: rgb(10, 63, 46);
}
.name{
    text-align: center;
    font-size: 100px;
    text-shadow: 4px 2px gray;
    color: rgb(19, 117, 36);
}
.para{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 40px 100px;
}
.btnn{
    margin-left: 100px;
    padding: 10px 20px;
    border: 1px solid gray;
    background-color: rgb(7, 126, 70);
    font-weight: bold;
    color: white;
    border-radius: 5px;
    box-shadow: 8px 8px 8px gray;
    cursor: pointer;
}
