

.main{
    height: 100vh;
    text-align: center;
    padding-left: 100px;
}

.im{
    width: 60%;
    border: 10px solid rgb(110, 110, 110);
    border-radius: 15px;
}
.text{
    text-align: center;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline wavy gray;
}
.text2{
    text-align: left;
    font-size: 20px;
    padding-top: 40px;
}
.text3{
    text-align: center;
    font-size: 30px;
    color:rgb(77, 99, 77);
    font-weight: bold;
    padding-bottom: 20px;
}


.int{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;

}